:root {
    --section-overlay: rgba(0, 0, 0 ,0.7);
    --background-overlay: rbga(0, 0, 0, 0.2);
}

.weatherData {

    width: 500px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 50%;
    /* margin: 0 auto; */
    padding: 20px;
    /* background-color: #f8f8f8; */
    
}

/* .container {
    background-color:  ;
} */

  


#weatherApp {
    background-color: #817fa0;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    padding: 2vw;
    /* margin: 10px; */
    min-height: 20vh;
    width: 40vw;
    /* max-width: 400px; */
    /* margin: 0 auto; */
    overflow: hidden;
}

.searchBarContainer {
    padding-top: 2vh;
    width: 90%;
    /* max-width: 600px; */
    margin: auto;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    /* min-width: 200px; */
}

.searchBarWrap {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 1vw;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

.searchBarBtn {
    background-color: transparent;
    border: none;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    flex: 1;
}

input:focus {
    outline: none;
}

#searchIcon {
    color: royalblue;
}

img {
    width: 150px;
    height: 150px;
}

