.navBar {
  background-color: beige;
}

<<<<<<< HEAD
* {
  box-shadow: border-box;
}

body {
  margin: 0;
}

h1 {
  color: darkblue;
  padding-top: 5rem;
  font-size: 2rem;
  font-family: Urbanist;
}

h2 {
  color: darkblue;
  padding-top: 5rem;
  padding-left: 5rem;
  font-size: 2rem;
  font-family: Urbanist;
}

.container {
  color: rgb(25, 43, 43);
  font-family: Urbanist;
}

h3 {
  font-size: 1.5rem;
}

p, div {
  color: rgb(25, 43, 43);
  font-family: Urbanist;
}

.news-app {
  padding-top: 5rem;
  padding-left: 5rem;
}

.nav {
  color: darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1.2rem;
  font-family: Quattrocento;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

ul {
  font-size: 2rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
=======
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

li {
  text-decoration: none;
>>>>>>> 44964e2 (made weather app responsive)
}